
myenv/


frontend/node_modules/


frontend/build/

backend/media/


# Alternatively, if you want to ignore specific files and folders in the 'backend':
backend/media/
backend/api/__pycache__/
backend/db.sqlite3